@page "/"

<PageTitle>Home</PageTitle>

<head>
    <meta charset="UTF-8">
    <title>Studentski servis</title>
    <style>
        body {
            margin: 200px;
            height: 100vh;
            display: flex;
            justify-content: center; /* vodoravno centriranje */
            align-items: center; /* okomito centriranje */
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Dobrodošli na stranicu Studentski servis!</h1>
</body>

